<div class="card card-warning">
  <p-toast></p-toast>
  <p-toast position="top-right" key="tl"></p-toast>
  <div class="card-header">
    <h3 class="card-title">Ajouter Personnel Medical</h3>
  </div>

  <div class="card-body">
    <form role="form" [formGroup]="add">





      <div class="form-group">
        <label class="col-form-label" for="us"> Username</label>
        <input type="text" class="form-control " [ngClass]="(this.add.controls.username.invalid) ? 'is-invalid' : 'is-valid'"   id="us" placeholder="Entrer ..." required="required" name="username" formControlName='username' >
      </div>
      <div class="form-group">
        <label class="col-form-label" for="us"> Mot de passe</label>
        <input type="text" class="form-control " [ngClass]="(this.add.controls.password.invalid) ? 'is-invalid' : 'is-valid'"   id="us" placeholder="Entrer ..." required="required" name="password" formControlName='password' >
      </div>
      <div class="form-group">
        <label class="col-form-label" for="no"> Nom</label>
        <input type="text" class="form-control " [ngClass]="(this.add.controls.nom.invalid) ? 'is-invalid' : 'is-valid'"   id="no" placeholder="Entrer ..." required="required" name="nom" formControlName='nom' >
      </div>
      <div class="form-group">
        <label class="col-form-label" for="pr"> Prenom</label>
        <input type="text" class="form-control " [ngClass]="(this.add.controls.prenom.invalid) ? 'is-invalid' : 'is-valid'"   id="pr" placeholder="Entrer ..." required="required" name="prenom" formControlName='prenom' >
      </div>
      <div class="form-group">
        <label class="col-form-label" for="em"> Email</label>
        <input type="text" class="form-control " [ngClass]="(this.add.controls.email.invalid) ? 'is-invalid' : 'is-valid'"   id="em" placeholder="Entrer ..." required="required" name="email" formControlName='email' >
      </div>
      <div class="form-group">
        <label class="col-form-label" for="em"> Télephone</label>
        <input type="text" class="form-control " [ngClass]="(this.add.controls.telephone.invalid) ? 'is-invalid' : 'is-valid'"   id="em" placeholder="Entrer ..." required="required" name="telephone" formControlName='telephone' >
      </div>
      <div class="form-group">
        <label class="col-form-label" for="ph"> Photo</label>
        <input type="text" class="form-control " [ngClass]="(this.add.controls.photo.invalid) ? 'is-invalid' : 'is-valid'"   id="ph" placeholder="Entrer ..."  name="photo" formControlName='photo' >
      </div>
<div class="form-group">
        <label class="col-form-label" for="ph"> Titre</label>
        <input type="text" class="form-control " [ngClass]="(this.add.controls.titre.invalid) ? 'is-invalid' : 'is-valid'"   id="ph" placeholder="Entrer ..." required="required" name="titre" formControlName='titre' >
      </div>
<div class="form-group">
        <label class="col-form-label" for="ph"> Fonction</label>
        <input type="text" class="form-control " [ngClass]="(this.add.controls.fonction.invalid) ? 'is-invalid' : 'is-valid'"   id="ph" placeholder="Entrer ..." required="required" name="fonction" formControlName='fonction' >
      </div>
<div class="form-group">
        <label class="col-form-label" for="ph"> Service</label>
        <input type="text" class="form-control " [ngClass]="(this.add.controls.service.invalid) ? 'is-invalid' : 'is-valid'"   id="ph" placeholder="Entrer ..." required="required" name="service" formControlName='service' >
      </div>

      <div class="row">
        <div class="col-sm-6">

          <div class="form-group">
            <label>Accueil</label>
            <select class="form-control" formControlName='acc'>
              <option *ngFor="let ac of acceuils" [ngValue]="ac.id"  >{{ac.nom}}</option>

            </select>
          </div>
        </div>

        <div class="col-sm-6">

          <div class="form-group">
            <label>Salle D'attente</label>
            <select class="form-control" formControlName='salle'>
              <option *ngFor="let sa of salleAttentes" [ngValue]="sa.id"  >{{sa.nom}}</option>

            </select>
          </div>
        </div>

        <div class="col-sm-6">

          <div class="form-group">
            <label>Service Consultation</label>
            <select class="form-control" formControlName='serv'>
              <option *ngFor="let serv of serviceConsultations" [ngValue]="serv.id"  >{{serv.nomService}}</option>

            </select>
          </div>
        </div>


      </div>
      <div class="row">
        <div class="col-sm-6">

          <div class="form-group">
            <label>Role</label>
            <select class="form-control" formControlName='rol'>
              <option *ngFor="let role of roles" [ngValue]="role"  >{{role}}</option>

            </select>
          </div>
        </div>

      </div>
      <input type="submit" class="button-29" value=" Ajouter " style="margin-left: 300px" [disabled]='add.invalid' (click)="addPersonnel(personnel)"/>
      <button class="button-29" style="margin-left: 20px" [routerLink]="['../']" >Retour</button>
    </form>
  </div>

</div>
