<p-toast ></p-toast>

<div class="mat-typography"><p-toast class="mat-typography" styleClass="custom-toast" ></p-toast></div>
<div class="card card-warning">

  <div class="card-header">
    <h3 class="card-title">Ajouter Patient</h3>
  </div>

  <div class="card-body">
    <form role="form" [formGroup]="add">


      <div class="form-group">
        <label class="col-form-label" for="no"> Nom</label>
        <input type="text" class="form-control " [ngClass]="(this.add.controls.nom.invalid) ? 'is-invalid' : 'is-valid'"   id="no" placeholder="Entrer ..." required="required" name="nom" formControlName='nom' >
      </div>
      <div class="form-group">
        <label class="col-form-label" for="pr"> Prenom</label>
        <input type="text" class="form-control " [ngClass]="(this.add.controls.prenom.invalid) ? 'is-invalid' : 'is-valid'"   id="pr" placeholder="Entrer ..." required="required" name="prenom" formControlName='prenom' >
      </div>
      <div class="form-group">
        <label class="col-form-label" for="em"> Email</label>
        <input type="text" class="form-control " [ngClass]="(this.add.controls.email.invalid) ? 'is-invalid' : 'is-valid'"   id="em" placeholder="Entrer ..."  name="email" formControlName='email' >
      </div>
      <!--<div class="form-group">
        <label class="col-form-label" for="em"> Telephone</label>
        <input type="text" class="form-control " [ngClass]="(this.add.controls.telephone.invalid) ? 'is-invalid' : 'is-valid'"   id="em" placeholder="Entrer ..." required="required" name="telephone" formControlName='telephone' >
      </div>-->
      <div class="form-group">
        <label class="col-form-label" for="ph"> Photo</label>
        <input type="text" class="form-control " [ngClass]="(this.add.controls.photo.invalid) ? 'is-invalid' : 'is-valid'"   id="ph" placeholder="Entrer ..." name="photo" formControlName='photo' >
      </div>
      <div class="form-group">
        <label class="col-form-label" for="us"> CIN</label>
        <input type="text" class="form-control " [ngClass]="(this.add.controls.numIdendite.invalid) ? 'is-invalid' : 'is-valid'"   id="us" placeholder="Entrer ..." required="required" name="numIdendite" formControlName='numIdendite' >
      </div>
      <div class="form-group">
        <label class="col-form-label" for="us"> DateNaissance</label>
        <input type="date" class="form-control " [ngClass]="(this.add.controls.dateNaissance.invalid) ? 'is-invalid' : 'is-valid'"   id="us" placeholder="Entrer ..." required="required" name="dateNaissance" formControlName='dateNaissance' >
      </div>

      <div class="row">
        <div class="col-sm-6">

          <div class="form-group">
            <label>Genre</label>
            <select class="form-control" formControlName='genre'>
              <option    >Homme</option>
              <option  >Femme</option>

            </select>
          </div>
        </div>

      </div>




<div class="row">
        <div class="col-sm-6">

          <div class="form-group">
            <label>est Assuré :</label>
            <select class="form-control"  formControlName='assure' [(ngModel)]="patient.estAssure">
              <option  [defaultSelected]="true" [ngValue]="true" >Oui</option>
              <option [ngValue]="false" >Non</option>

            </select>
          </div>
        </div>

      </div>

      <div class="form-group" *ngIf="patient.estAssure">
        <label class="col-form-label" for="us10"> Taux D'Assurance</label>
        <input type="number" class="form-control " [ngClass]="(this.add.controls.tauxAssurance.invalid) ? 'is-invalid' : 'is-valid'"   id="us10" placeholder="Entrer ..."  name="tauxAssurance" formControlName='tauxAssurance' >
      </div>

      <div class="form-group" *ngIf="patient.estAssure">
        <label class="col-form-label" for="us11"> Numéro D'Affiliation</label>
        <input type="number" class="form-control " [ngClass]="(this.add.controls.numAffeliation.invalid) ? 'is-invalid' : 'is-valid'"   id="us11" placeholder="Entrer ..."  name="numAffeliation" formControlName='numAffeliation' >
      </div>

      <input type="submit" class="button-29" value=" Ajouter " style="margin-left: 40%" [disabled]='add.invalid' (click)="addPatient(patient)"/>
      <button class="button-29" style="margin-left: 20px" [routerLink]="['../']" >Retour</button>
    </form>
  </div>

</div>
