<p-toast></p-toast>
<div class="card-body">

  <table id="patient" class="table table-bordered table-hover table-striped" >

    <thead>

    <tr>
      <th class="testTd">Photo</th>
      <th class="testTd" >
        Nom
      </th>
      <th class="testTd">
        Prenom
      </th>
      <th class="testTd">
        CIN
      </th>
      <th class="testTd">
        Assuré
      </th>
      <!--<th>
        Email
      </th>-->


      <th class="testTd">
        Prise En Charge
      </th>


      <th class="testTd">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr class="odd" *ngFor="let p of patients">
      <td  tabindex="0" width="7%" class="testTd"><img  style="width:80%;border-radius:10px;box-shadow: 0px 0px 15px -7px rgba(0,0,0,0.75);cursor: pointer;object-fit:cover"  src={{p.photo}}/></td>
      <td class="dtr-control sorting_1 testTd"><span style="display:block;margin-top: 17%;">{{p.nom}}</span></td>
      <td class="testTd"><span style="display:block;margin-top: 20%;">{{p.prenom}}</span></td>
      <td class="testTd"><span style="display:block;margin-top: 22%;">{{p.numIdendite}}</span></td>
      <td *ngIf="p.estAssure" class="testTd"><span style="display:block;margin-top: 22%;">Oui</span></td> <td class="testTd" *ngIf="!p.estAssure"><span style="display:block;margin-top: 22%;">Non</span></td>
      <!--<td>{{p.email}}</td>-->

      <td class="testTd"><span style="display:block;margin-top: 12%;">{{p?.detailsPatient?.heurePriseCharge |date:"yyyy-MM-dd HH:mm:ss"}}</span></td>

      <td class="testTd"><button [routerLink]="['edit',p.id]"  class="button-29"  style="padding-right: 5px;margin-top:12%">Modifier</button>

      </td>
    </tr>

    </tbody>
    <tfoot>
    <tr>
      <th class="testTd">Photo</th>
      <th class="testTd" >
        Nom
      </th>
      <th class="testTd">
        Prenom
      </th>
      <th class="testTd">
        CIN
      </th>
      <th class="testTd">
        Assuré
      </th>
      <!--<th>
        Email
      </th>-->


      <th class="testTd">
        Prise En Charge
      </th>


      <th class="testTd">Actions</th>
    </tr>
    </tfoot>
  </table>
  <br><hr>

</div>


