<div class="row text-center" style="margin-top: 2% ;width:80% ;margin-left:12%">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Précédent
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Aujourd'hui
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Prochain
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'fr' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Month)"
        [class.active]="view === CalendarView.Month"
      >
        Mois
      </div>
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week"
      >
        Semaine
      </div>
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day"
      >
        Jour
      </div>
    </div>
  </div>
</div>
<br />
<div [ngSwitch]="view" style="width:80% ;margin-left:11%">
  <mwl-calendar-month-view

    id="fff"
    *ngSwitchCase="CalendarView.Month"
    [locale]="locale"

    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
    (beforeViewRender)="beforeMonthViewRender($event)"

  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [locale]="locale"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [locale]="locale"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-day-view>
</div>

<!-- Everything you see below is just for the demo, you don't need to include it in your app -->

<br /><br />

<h3 style="width:80% ;margin-left:11%; font-family:cursive" >
  Rendez-Vous :

  <div class="clearfix"></div>
</h3>

<div class="table-responsive" style="width:80% ;margin-left:11%" >
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Nom Patient </th>

      <th>Nom consultant</th>
      <th>Examen</th>
      <th>Date</th>
      <th>Action</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let event of events;let i=index">
      <td>
        <a [routerLink]="[event.id,this.priseRdvs[i].id]" >
          {{event.title}}
        </a>
      </td>
      <td>
        <input
          type="text"
          [disabled]="true"
          [(ngModel)]="event.cssClass"
          (change)="refresh.next()"

        />
      </td>
      <td>
        <input
          type="text"
          [disabled]="true"
          [(ngModel)]="event.meta"
          (change)="refresh.next()"
        />

      </td>
      <td>
        <input
          class="form-control flatpickr"
          type="text"
          [disabled]="true"
          mwlFlatpickr
          [(ngModel)]="event.start"
          (ngModelChange)="refresh.next()"
          [altInput]="true"
          [convertModelValue]="true"
          [enableTime]="true"
          [allowInput]="true"
          [locale]="'French'"

          dateFormat="Y-m-dTH:i"
          altFormat="F j, Y H:i"
          placeholder="Not set"
        />
      </td>
      <!-- <td>
         <input
           class="form-control flatpickr-input"
           type="text"
           [disabled]="true"
           mwlFlatpickr
           [(ngModel)]="event.end"
           (ngModelChange)="refresh.next()"
           [altInput]="true"
           [convertModelValue]="true"
           [enableTime]="true"

           dateFormat="Y-m-dTH:i"
           altFormat="F j, Y H:i"
           placeholder="Not set"
         />
       </td>-->




      <td>
        <button class="btn btn-danger" [disabled]="this.priseRdvs[i].facturation==null" (click)="deleteEvent(event,i)">
          Effacer
        </button>
      </td>
    </tr>



    </tbody>
  </table>

</div>
