<button style="margin-left:37%;margin-top:2%;" class="button-84" [routerLink]="['add']" >Nouveau Accueil</button>
<div class="card-body">

  <table id="acceuils" class="table table-bordered table-hover table-striped "  >

    <thead>

    <tr>

      <th class="testTd" style="display:inline ">
        Nom
      </th>


      <th class="testTd" style="display:inline ">
        Personnel Medical
      </th>
      <th width="30%" class="testTd" style="display:inline ">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr class="odd" *ngFor="let a of acceuils">

      <td tabindex="0" class="dtr-control sorting_1 testTd">{{a.nom}}</td>

      <td>
        <select class="form-control"  >
          <option  *ngFor="let a of a.personnelMedicals"  class="testTd"  >{{a.nom}} {{a.prenom}}</option>

        </select>
      </td>
      <td><button [routerLink]="['edit',a.id]"  class="button-29 " style="margin-left:16%" >Modifier</button> <button class="button-29" style="margin-left:2%;background-image:radial-gradient(100% 100% at 100% 0, red 0, red 100%);" (click)="delete(a.id)">Effacer</button></td>
    </tr>

    </tbody>
    <tfoot>
    <tr>

      <th class="testTd">
        Nom
      </th>

      <th class="testTd" >
        Personnel Medical
      </th>
      <th class="testTd">Actions</th>
    </tr>
    </tfoot>
  </table>
</div>




