
<div class="card card-warning">
  <p-toast></p-toast>
  <p-toast position="top-right" key="tl"></p-toast>
  <div class="card-header">
    <h3 class="card-title">Modifier Salle D'attente</h3>
  </div>

  <div class="card-body">
    <form role="form" [formGroup]="edit">


      <div class="form-group">
        <label class="col-form-label" for="us"> Nom Du Salle</label>
        <input type="text" class="form-control " [ngClass]="(this.edit.controls.nom.invalid) ? 'is-invalid' : 'is-valid'"   id="us" placeholder="Entrer ..." required="required" name="salleAttente.nom" formControlName='nom' [(ngModel)]="salleAttente.nom">
      </div>
      <div class="form-group">
        <label class="col-form-label" for="no"> Etage </label>
        <input type="text" class="form-control " [ngClass]="(this.edit.controls.etage.invalid) ? 'is-invalid' : 'is-valid'"   id="no" placeholder="Entrer ..." required="required" name="salleAttente.etage" formControlName='etage' [(ngModel)]="salleAttente.etage">
      </div>


      <input type="submit" class="button-29" value=" Modifier " style="margin-left: 353px" [disabled]='edit.invalid' (click)="editSalle(salleAttente)"/>
      <button class="button-29" style="margin-left: 10px" [routerLink]="['../../']" >Retour</button>
    </form>
  </div>

</div>
