<button style="margin-left:37%;margin-top:2%;" class="button-84" [routerLink]="['add']" >Nouveau Admin</button>
<div class="card-body">

  <table id="admin" class="table table-bordered table-hover table-striped table-responsive"  >

    <thead>

    <tr>
      <th class="testTd" style="display:inline ">Photo</th>
      <th class="testTd" style="display:inline ">
        Nom
      </th>
      <th class="testTd" style="display:inline ">
        Prenom
      </th>
      <th class="testTd" style="display:inline ">
        Email
      </th>
      <th class="testTd" style="display:inline ">
        Télephone
      </th>
      <th class="testTd" style="display:inline ">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr class="odd" *ngFor="let a of admins">
      <td  tabindex="0" width="7%"><img style="width:80%;border-radius:10px;box-shadow: 0px 0px 15px -7px rgba(0,0,0,0.75);cursor: pointer;object-fit:cover"  src={{a.photo}}/></td>
      <td class="dtr-control sorting_1 testTd"><span style="display:block;margin-top: 26%;">{{a.nom}}</span></td>
      <td class="testTd"><span style="display:block;margin-top: 18%;">{{a.prenom}}</span></td>
      <td class="testTd"><span style="display:block;margin-top: 10%;">{{a.email}}</span></td>
      <td class="testTd"><span style="display:block;margin-top: 16%;">{{a.telephone}}</span></td>
      <td class="testTd"><button  style="display:inline ;margin-left:13%;margin-top:6%;" [routerLink]="['edit',a.id]"  class="button-29 testTd"  >Modifier</button> <button class="button-29" style="margin-left:2%;background-image:radial-gradient(100% 100% at 100% 0, red 0, red 100%);" (click)="delete(a.id)">Effacer</button></td>
    </tr>

    </tbody>
    <tfoot>
    <tr>
      <th class="testTd">Photo</th>
      <th class="testTd">
        Nom
      </th>
      <th class="testTd">
        Prenom
      </th>
      <th class="testTd">
        Email
      </th>
      <th class="testTd">
        Télephone
      </th >
      <th class="testTd">Actions</th>
    </tr>
    </tfoot>
  </table>
</div>



