<div class="card card-warning">
  <p-toast></p-toast>
  <p-toast position="top-right" key="tl"></p-toast>
  <div class="card-header">
    <h3 class="card-title">Ajouter une Salle D'attente</h3>
  </div>

  <div class="card-body">
    <form role="form" [formGroup]="add">

      <div class="form-group">
        <label class="col-form-label" for="no"> Nom</label>
        <input type="text" class="form-control " [ngClass]="(this.add.controls.nom.invalid) ? 'is-invalid' : 'is-valid'"   id="no" placeholder="Entrer ..." required="required" name="nom" formControlName='nom' >
      </div>
      <div class="form-group">
        <label class="col-form-label" for="pr"> Etage</label>
        <input type="text" class="form-control " [ngClass]="(this.add.controls.etage.invalid) ? 'is-invalid' : 'is-valid'"   id="pr" placeholder="Entrer ..." required="required" name="etage" formControlName='etage' >
      </div>


      <input type="submit" class="button-29" value=" Ajouter " style="margin-left: 300px" [disabled]='add.invalid' (click)="addSalle(salleAttente)"/>
      <button class="button-29" style="margin-left: 20px" [routerLink]="['../']" >Retour</button>
    </form>
  </div>

</div>
